html {
  border-top: 4px solid #222;
  background-color: #fff;
  color: #333;
  font-family: Helvetica Neue, Arial, Helvetica; }
p {
  line-height: 1.5em;
}
dd, dt {
  line-height: 1.4em;
}
#wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 900px; }
header {
  margin-left: 20px;
  overflow: hidden;
}
header h1 {
  float: left;
  margin-bottom: 0.5em;
  width: 400px; }
header h1 a {
  color: #333;
  font-size: 24px;
  text-decoration: none;
  text-shadow: 0 1px #eee; }
header h1 a:hover {
  color: rgb(101, 27, 139); }
header h1 img {
  border: none;
  outline: none; }
header #search {
  float: right;
  margin-top: 24px;
  text-align: right;
  width: 400px; }
header #search input {
  font-size: 16px;
  width: 200px; }
nav.main {
  clear: both;
  float: left;
  font-size: 13px;
  margin: 0 20px 0;
  width: 200px; }
footer {
  clear: both;
}
nav.main ul {
  list-style: none inside none;
  margin: 0 0 32px;
  padding: 0; }
nav.main > ul {
  list-style-type: none; }
nav.main ul li {
  margin: 5px 0; }
nav.main ul li p {
  line-height: 1.2;
  margin: 0; }
nav.main ul li h3 {
  font-size: 12px;
  list-style-type: none;
  margin: 18px 0 6px;
  text-transform: uppercase; }
nav.main ul ul {
  margin: 0;
  padding-left: 10px; }
nav.main ul ul ul {
  padding-left: 12px; }
nav.main a {
  color: inherit;
  text-decoration: none; }
nav.main a:hover {
  text-decoration: underline; }
nav.main a.current {
  border-left: 5px solid rgb(101, 27, 139);
  /* border-left: 5px solid rgb(160, 95, 185); */
  margin-left: -10px;
  padding-left: 5px;
}
#nav-tabs {
  border-bottom: 1px solid #DDD;
  list-style: none;
  margin-top: 0;
  margin-bottom: 18px;
  margin-left: 20px;
  padding-left: 0;
}
#nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
#nav-tabs > .active > a, #nav-tabs > .active > a:hover {
  background-color: white;
  border: 1px solid #DDD;
  border-bottom-color: transparent;
  color: #555;
  cursor: default;
}
#nav-tabs > li > a {
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  display: block;
  font-size: 14px;
  line-height: 14px;
  margin-right: 2px;
  padding: 9px 12px;
}
#nav-tabs > li > a:hover {
  border-color: #EEE #EEE #DDD;
  text-decoration: none;
  background-color: #EEE;
}
#nav-tabs::before, #nav-tabs::after {
  content: "";
  display: table;
}
#nav-tabs::after {
  clear: both;
}
hr {
  height: 1px;
  border-style: none;
  color: #ddd;
  background-color: #ddd
}
article {
  float: left;
  font-size: 13px;
  margin: 0 40px 30px 10px;
  width: 600px; }
article h1 {
  font-size: 32px;
  margin: 0;
  text-shadow: 0 0 3px white; }
article h2 {
  font-size: 24px;
  text-shadow: 0 0 3px white;
  padding: 15px 0;
  border-bottom: 1px solid #ddd; }
article h3 {
  color: #666;
  font-size: 13px;
  /* letter-spacing: 1px; */
  margin: 2em 0 0;
  text-transform: uppercase; }
article h3.code-heading {
  margin-bottom: 18px;
}
article h3.case-sensitive {
  text-transform: none;
}
article h4 {
  font-size: 14px; }
article p.intro {
  color: #999;
  font-size: 16px;
  line-height: 1.4em;
  text-shadow: 0 0 3px white; }
article p {
  line-height: 1.6em; }
article li p {
  margin: 0 0 .5em; }
article ul, article ol {
  line-height: 1.6em;
}
footer {
  border-top: 1px solid #ddd;
  clear: left;
  color: #ccc;
  height: 20px;
  margin-left: 20px;
  padding: 20px; }
footer p {
  float: left;
  margin: 0;
  width: 400px; }
footer nav {
  float: left;
  width: 400px; }
footer nav ul {
  margin: 0;
  overflow: hidden; }
footer nav li {
  display: inline;
  font-size: 12px;
  margin: 0 1.5em 0 0; }
footer a {
  color: inherit; }

a {
  color: #777777;
  text-decoration: none; }
a:hover {
  text-decoration: underline; }
abbr {
  border-bottom: 1px dotted #666;
  cursor: help; }
dl {
  margin-left: 2em; }
dl dt {
  font-weight: bold; }
dl dt.required:after {
  color: red;
  content: '*';
  padding: .25em; }
dl dd {
  margin: 0 0 0.5em 1em; }
mark {
  background-color: #ffa;
  margin: -1px -4px;
  padding: 1px 4px; }
sup {
  line-height: 1 }

.amp {
  -webkit-text-stroke: 1px rgb(160, 95, 185);
  color: rgb(101, 27, 139);
  font-family: "Hoefler Text", serif;
  font-style: italic; }

.js {
  background: rgb(101, 27, 139);
  border: 1px solid rgb(49, 18, 67);
  border-radius: 4px;
  box-shadow: 0 0 2px #ccc;
  color: white;
  font-size: .625em;
  margin: 0 3px;
  padding: 1px 0 2px;
  position: relative;
  text-shadow: 0 -2px 0 rgb(49, 18, 67);
  top: -3px; }
.js span {
  background: -webkit-linear-gradient(top, rgb(126, 74, 155), rgb(82, 38, 109));
  border: 1px solid rgb(160, 95, 185);
  border-radius: 3px;
  padding: 0px 2px 1px; }


/* URLs */
div.url{
  padding: 8px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size:12px;font-family:$mono-font;border-radius:5px;
  color: #000;
  background-color: #F7F7F9;
  border: 1px solid #e1e1e8;
}
div.url > .method{display:inline-block;width:52px;text-align:center;padding:0 4px;margin-right:8px;border-radius:3px;padding:2px}
div.url .GET{background-color:#DFF0D8;color:#468847;border:#D6E9C6 1px solid}
div.url .POST{background-color:#D9EDF7;color:#3A87AD;border:#BCE8F1 1px solid}
div.url .PUT{background-color:#FCF8E3;color:#C09853;border:#FBEED5 1px solid}
div.url .DELETE{background-color:#F2DEDE;color:#B94A48;border:#EED3D7 1px solid}

section { display: block; }

/* Tabs */
.tabbable {
  *zoom: 1;
}
.tabbable:before, .tabbable:after {
  display: table;
  content: "";
}
.tabbable:after {
  clear: both;
}
.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav-tabs:before,
.nav-tabs:after {
  display: table;
  content: "";
}
.nav-tabs:after, .nav-pills:after {
  clear: both;
}
.nav-tabs > li {
  float: left;
}
.nav-tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-decoration: none;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

/* Table */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  margin-top: 18px;
}
.table th, .table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
}
.table th {
  font-weight: bold;
  vertical-align: bottom;
}
.table td {
  vertical-align: top;
}
.table thead:first-child tr th, .table thead:first-child tr td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #ddd;
}
.table-condensed th, .table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
}
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
}
.label-important {
  background-color: #b94a48;
}
.label-warning {
  background-color: #f89406;
}
.label-success {
  background-color: #468847;
}
.label-info {
  background-color: #3a87ad;
}


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert p { margin: 0; }
.alert, .alert-heading {
  color: #c09853;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
}

code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 1px 4px;
  color: #AAA;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
}
pre.prettyprint {
  margin-bottom: 18px;
}
pre code {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: black;
}
pre.headers {
  background-color: #fffcff;
  color: #555;
}

